@CHARSET "UTF-8";

.clear{
	clear: both;
}

#main_section{
	background-color: #ebebeb;
}
.titleContainer{
	width : 450px; 
	height : 60px;
	display: -webkit-box;
	margin-top : 50px;
	margin-left: 100px;

}
.p-stepTitle {
	float : left;
	margin-top: 7px;
	margin-left : 10px; 

	
}
#p-step1{
	width: 230px;
	height: 80px;
	border: 3px solid orange;
	color: #999999;
	background-color: white; 	
}
#p-step2{
	width: 230px;
	height: 80px;
	border: 3px solid orange;
	color: #999999;
	background-color: white;
}
#p-step3{
	width: 230px;
	height: 80px;
	border : 3px dotted white; 
	background-color: orange;
	color: white;
}

.containerContents{
	margin-top:50px;
	margin-left: 10px;
	background-color: gray;

}
#whereToGo{
	margin-left : 105px;
	margin-top : 150px;
	width: 690px;
	height: 150px;
	border: 1px solid black;
	background-color: white;
}
#completeMsg{
	margin-top : 35px;
	margin-left: 220px;
	color: rgb(254, 156, 200);
}
.toGo{
	margin-top : 70px;
	text-decoration: none;
}
#record{
	margin-left: 190px;
}
#home{
	margin-left: 90px;
}
