@CHARSET "UTF-8";
/* ======================================== 섹션=============================================  */
.pagingBox{
	width: 240px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}
.pagingText{
	color: color: #3c3c3c;
	font-size: 25px;
	text-decoration: none;
}
.pagingArrowR{
	width: 20px; 
	height: 20px;
	-webkit-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(90deg) scale(1) skew(1deg) translate(0px);
}
.pagingArrowL{
width: 20px; 
	height: 20px;
-webkit-transform: rotate(270deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(270deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(270deg) scale(1) skew(1deg) translate(0px);
}
  /*a태그 효과 없애기  */
  .middleTitle{
  	color: #3c3c3c;
  	text-decoration: none;
  }
    .aBlock{
  	display: inline-block;
  }
  
  
  /*윗부분  */
 .top{
 	width: 100%;
 	height: 350px;
	background-position:50%;
 	background-image: url('/learn_run/resources/img/studyImage.png');
 	background-repeat: no-repeat;
 	background-size: 100%;
 	overflow: hidden; 
 
 }
 .topBox{
 	width: 320px; 
 	height: 180px;
 	background-color: white;
 	
 	font-weight: 200;
 	margin-top: 80px;
 	margin-left: 25%;	
 }
 .innerText{
 	font-size: 30pt;	
 	font-weight: 200;
    color: #505050;
 	text-align: center;
 }
 
 /*윗부분 끝 */
 
 /*중간부분  */
 .mid{
 	
 	width: 100%;
 	height: 230px;
 	
 	overflow: hidden;
 	
 }
 .midBox{
 	overflow: hidden;
 	margin: 0 auto;
 	width: 50%;
 	height: 100%;
 	
 }
 .midTitle{
 	font-size: 32px;
 }
 .midInner{
 	width: 100%;
 	height: 79px;
 	background-color: #f2ffe5;
 	overflow: hidden;
 	
 }
 .innerBox{
 	width: 40%;
 	height: 100%;
 	float: left;
 	
 	font-size: 20px;
 	line-height: 400%;
 	
 	
 }
 .innerBox > select{
 	display: inline;
 	font-size:20px;
 	width: 80%;
 	height: 50px;
 	border: none;
 }
  .innerBox2{
 	width: 20%;
 	height: 100%;
 	float: left;
 	line-height: 100%;
 	
 	
 }
 .innerBox2 > input{
 	margin-top: 17px;
 	display: inline;
 	font-size: 20px;
 	color: white;
 	width: 90%;
 	height: 45px;
 	background: #4c8def;
 	border: none;
 	line-height: 100%;
 }
 /*중간부분 끝 */
 
 
 
 /* 아랫부분  */
 .bottom{
 width: 100%;
 min-height: 700px;
 height: auto;
 background-color: #ebebeb;
 overflow: hidden;
 padding-bottom: 50px;
 }

 .bottomTitle{
 	font-size: 16pt;
 }
 /* 리스트부분  */
 .listBox{
	width: 270px;
	height: 400px;
	display: inline-block;
	margin-left: 30px;
	margin-top: 10px;
	background-color: white;
	overflow: hidden;
	
}
hr{
	width:92.5%;
	margin-left: 30px;
	margin-top: 10px;
}
.boxTop{
	width: 100%;
	height: 5px;
	text-align: center;
	margin-top: 10px;
	color: #a0a0a0;
}
.boxMiddle_1{
	width: 270px;
	height: 30px;
	margin-top:40px;
	text-align: center;
	font-size: 20px;
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden; 

	
}
.boxMiddle_2{
	margin-top: 10px;
	width: 100%;
	height: 20px;
	text-align: center;
	color: #f48210;

}
.people{
	font-size: 5px;    
	color: #a0a0a0;
}
.boxBottom{
	margin-top: 10px;
	position: static;
	width: 100%;
	min-height: 17.2pc;
	background-color: red;
	background-size: cover;
}
/*리스트 부분 끝  */
 
 
 /* 아랫부분 끝 */
/* ======================================== 섹션END==========================================  */ 
