@CHARSET "UTF-8";

#main_section {
	background-color: #ebebeb;
	padding-top: 50px;
	padding-bottom: 50px;
}

.main_container {
	background-color: white;
	border: none;
	padding-bottom: 0;
}

#section_left {
	float: left;
}

#section_right{
	float: left;
}

#left_header {
	width: 272px;
	height: 73px;
	border-bottom: 1px solid #f2f2f2;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 18px;
	font-weight: 700;
	color: #333;
}

#left_contents {
	height: 500px;
}

#right_contents {
	width: 658px;
	height: 600px;
	border-left: 1px solid #f2f2f2;
}

#no_message {
	display: none;
	padding: 200px 75pt;
	text-align: center;
}
#new_message {
	display: none;
	padding: 200px 75pt;
	text-align: center;
}
#message_span {
	display: block;
    margin-top: 20px;
    font-weight: 700;
    font-size: 14pt;
    color: #333;
}

#messageList_table {
	table-layout: fixed;
}
#messageList_title {
	width: 190px;
	height: 30px;
}
#messageList_date {
	width: 100px;
	font-size: 15px;
	color: gray;
	height: 30px;
}
.ML_title {
	cursor: pointer;
}

.ML_title_T {
	color: gray;
}
#write_img {
	width: 30px;
	height: 30px;
	margin-left: 130px;
	margin-top: 20px;
	cursor: pointer;
}

#message_contents {
	min-height: 400px;
	height: auto;
}
#message_contents_wrap {
	display: none;
}
#messageDel_btn {
	float: right;
	border: none;
	background-color: black;
	color: white;
	font-size: 20px;
	padding: 10px 20px;
	margin-top: 10px;
}