<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ChulMapper">
  <select id="chulList" parameterType="com.kh.util.ListInfo" resultType="com.kh.chul.ChulDTO">
		select * from (select rownum R, C.* from 
  		(select * from chul order by num desc) C)  
  		where R between #{startRow} and #{lastRow}
	</select>
	
  <select id="Ccount" parameterType="com.kh.util.ListInfo" resultType="java.lang.Integer">
		select count(num) from chul
  </select>
  
  <insert id="ChulWrite" parameterType="com.kh.chul.ChulDTO">
  insert into chul values(chul_seq.nextval,#{writer},#{contents},sysdate)
  </insert>
  
  </mapper>