<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="PurchaseMapper">
	
	<select id="purchaseDo" parameterType="com.kh.study.StudyDTO">
		select * from study where num=#{num}
	</select>
	
	<select id="paySmart" parameterType="com.kh.member.MemberDTO" resultType="com.kh.member.MemberDTO">
		select * from member where phone=#{phone} and birth=#{birth}
	</select>
	
	<insert id="payComplete" parameterType="com.kh.purchase.PurchaseDTO">
		insert into purchase values 
		(purchase_seq.nextval, #{price}, #{product}, #{id}, #{name}, #{type}, sysdate, #{snum}, #{tid}, #{bank}, #{cnumber}, #{pnumber})
	</insert>
	
	<insert id="addMemberStudy" parameterType="com.kh.purchase.PurchaseDTO">
		insert into memberstudy values(#{snum}, #{id}, sysdate)
	</insert>
</mapper>