<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="PurchaseMapper">
	
	
	<insert id="purchaseDo" parameterType="com.kh.purchase.PurchaseDTO">
		insert into purchase values 
		(purchase_seq.nextval, #{price}, #{product}, #{id}, #{name}, #{type}, sysdate)
	</insert>
	
	<select id="matchInfo" parameterType="com.kh.study.StudyDTO">
		select * from study where #{num}
	</select>
	

</mapper>