@CHARSET "UTF-8";
#memberinfo_table{
	font-size: 18px;
	width: 1100px;
    height: auto;
	text-align: center;
	border-collapse: collapse;
	font-weight: bolder;
    border: none;
    color: black;
    margin-top: 50px;
}

#memberinfo_table th, tr, td{
	border: none;
}

#memberinfo_table tr {
	border-bottom: 1px solid black;
	height: 50px;
}
#memberinfo_table .tr_cs{
	background-color: #5a5e64;
	color: white;
	font-size: 20px;
	font-weight: 300;
}

.member_Delete{
   	background-color: #ebebeb;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #ef6c00;
}

