@CHARSET "UTF-8";

.myStudy_wrap {
	min-height: 82px;
    padding: 20px 0 20px 142px;
    color: #000;
    position: relative;
    border-bottom: 1px dashed #c4c4c4;
}

.myStudy_wrap .thumb {
    position: absolute;
    top: 20px;
    left: 0;
}

.myStudy_wrap .thumb img {
	width: 132px;
    height: 72px;
}

.myStudy_wrap .tit {
	    padding: 0 0 0 10px;
}

.myStudy_wrap .tit img {
	margin-top: -2px;
	width: 66px;
	height: 17px;
}
.myStudy_wrap .tit strong {
	margin: 0;
	padding: 0;
}
.myStudy_wrap .tit .line {
	color: #c4c4c4;
	margin: 0;
    padding: 0;
}

.myStudy_wrap .info {
	margin: 5px 0 0;
}

.myStudy_wrap .info .cell {
	display: inline-block;
    margin-left: 20px;
    padding: 0 0 0 10px;
}

.myStudy_wrap .info .cell strong {
	margin: 0;
    padding: 0;
}

.myStudy_wrap .con {
	margin: 5px 0 0;
    padding: 7px 10px;
    background: #e9f9ff;
    word-wrap: break-word;
}

.myStudy_contents {
	float: left;
	padding-left: 20px;
	font-size: 15px;
	font-weight: bolder;
}

.myStudy_buttons {
	padding-top: 37px;
	margin-left: 50px;
	float: right;
}

.myStudy_buttons input{
	border: none;
	background : #7ab6b4;
	color: white;
	font-weight: 400;
	font-size: 15px;
	height: 25px;
}

.on_off{
	width: 40px;
	height: 20px;
	
}

#myStudy_title {
	display: inline;
	font-size: 18px;
	font-weight: bold;
}

