@CHARSET "UTF-8";
#tutorinfo_table{
	width: 90%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	margin-right: 10%;
	border: none;
	border-collapse: collapse;
	font-size: 20px;
    font-weight: bold;
    border: none;
    color: black;
}
#tutorinfo_table th, tr, td{
	border: none;
	padding: 10px;
}

#tutorinfo_table tr {
	border-bottom: 3px solid black;
}

.lv_select,.rig_select {
	height: 30px;
	font-size: 20px;
	border: 2px solid #ebebeb;
}

.change_Tinfo {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ebebeb;
    color: #ef6c00;
}
#opt1, #opt2, #opt3, #opt4{
	background-color: white;
}