@CHARSET "UTF-8";


/* main 시작 */
body {
	margin: 0;
}
#main_section{
	width: 100%;
	min-height: 700px;
	height: auto;
	margin: 0 auto;
}
 .main_container{
 overflow: hidden;
 margin: 0 auto;
 width: 50%;
 height: 100%;
 padding-bottom: 100px;
 }

/* main 끝 */


