@CHARSET "UTF-8";
#level_test_box{
	width: 890px;
	height: 400px;
	}
#page_image{
	width: 460px;
	height: 400px;
	float: left;
	display: inline-block;
}
#test_quiz_intro{
	width: 300px;
	height: 350px;
	padding: 20px;
	float: left;
	padding-left: 70px;
}
#intro_Lavel{
	width: 90px;
    line-height: 24px;
    background: #ebebeb;
    color: #a0a0a0;
    font-weight: 700;
    text-align: center;
}
#intro_title{
	width:400px;
	padding-bottom: 60px;
    border-bottom: 2px solid #ebebeb;
    font-size: 42px;
    font-weight: 700;
    color: #474747;
    margin-top: 40px;
}
#intro_content{
	margin-top: 65px;
    font-weight: 400;
    color: #505050;
}
#test_start_button{
	display: block;
    margin-top: 24px;
    width: 216px;
    height: 3pc;
    line-height: 49px;
    border-radius: 24px;
    background: #ef6c00;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}